.section__subtitle {
  color: #cd1a40;
  font-family: "Water Brush";
  font-size: 46px;
  line-height: normal;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .section__subtitle {
    font-size: 36px;
  }
}
