.section__title {
  color: #1e1e1e;
  font-family: "Work Sans";
  font-size: 64px;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 18px;
}

@media screen and (max-width: 576px) {
  .section__title {
    font-size: 46px;
  }
}
