@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Water+Brush&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1220px;
  margin: auto;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
